In [1]:
 import pandas as pd

In [2]:
df=pd.read_csv("D:\StudentPerformance - Sheet1.csv")

In [3]:
df1=df
df2=df1
df3=df
df4=df

In [4]:
df

,gender,math score,reading score,writing score,placement score,club join year,placement offer count
0,M,65,62.0,60,66.0,2018.0,1
1,F,62,78.0,71,65.0,2018.0,1
2,M,64,60.0,70,68.0,2020.0,1
3,F,67,69.0,74,65.0,2021.0,1
4,M,68,76.0,69,70.0,2019.0,1
5,F,90,65.0,77,76.0,2020.0,2
6,M,79,62.0,80,67.0,2021.0,1
7,F,75,72.0,72,65.0,2021.0,1
8,M,61,74.0,70,69.0,2018.0,1
9,F,73,68.0,92,63.0,2018.0,1
10,M,74,64.0,70,60.0,2020.0,1
11,F,75,67.0,80,65.0,2020.0,1
12,M,65,77.0,77,77.0,2019.0,2
13,M,70,63.0,77,79.0,2018.0,2
14,M,60,NaN,79,77.0,2018.0,2
15,F,70,76.0,66,98.0,2019.0,3
16,F,63,72.0,63,62.0,2021.0,1
17,F,66,77.0,67,78.0,NaN,2
18,F,94,75.0,67,66.0,2021.0,1
19,M,62,79.0,68,60.0,2020.0,1
20,F,67,62.0,64,61.0,2020.0,1
21,M,64,95.0,72,NaN,2019.0,1
22,F,61,70.0,96,72.0,2018.0,1
23,M,74,74.0,75,68.0,2019.0,1
24,F,79,68.0,75,67.0,2020.0,1
25,M,62,75.0,60,69.0,2019.0,1
26,F,67,71.0,72,64.0,2021.0,1
27,M,68,78.0,64,77.0,2018.0,2
28,F,72,62.0,77,69.0,2018.0,1

In [5]:
df.isnull()

,gender,math score,reading score,writing score,placement score,club join year,placement offer count
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False
14,False,False,True,False,False,False,False
15,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False
17,False,False,False,False,False,True,False
18,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False
21,False,False,False,False,True,False,False
22,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False

In [6]:
df.isnull().sum()

gender                   0
math score               0
reading score            1
writing score            0
placement score          1
club join year           1
placement offer count    0
dtype: int64

In [7]:
df.columns

Index(['gender', 'math score', 'reading score', 'writing score',
       'placement score', 'club join year', 'placement offer count'],
      dtype='object')

In [8]:
df.isnull().any()

gender                   False
math score               False
reading score             True
writing score            False
placement score           True
club join year            True
placement offer count    False
dtype: bool

In [10]:
pd.isnull(df["math score"]) .sum()

0

In [ ]:
df.notnull()

In [ ]:
df.notnull()

In [ ]:
df.notnull().sum()

In [ ]:
df.head()
df1=df

In [ ]:
from sklearn import preprocessing
le=preprocessing.LabelEncoder()

In [ ]:
df['Gender']=le.fit_transform(df['Gender'])
df

In [ ]:
df.columns

In [ ]:
df.isnull().sum()

In [ ]:
df.describe()

In [ ]:
df['Reading score']

In [ ]:
df[df['Reading score'].isnull()].index.tolist()

In [ ]:
df['Reading_score']=df['Reading score'].fillna(60)

In [ ]:
df['Reading score']

In [ ]:
df['Reading score'].notnull().sum()

In [ ]:
df[df['Math score'].isnull()].index.tolist()

In [ ]:
df['Math score']=df['Math score'].fillna(df['Math score'].mean())

In [ ]:
df['Math score'].isnull().sum()

In [ ]:
df.isnull().sum()

In [ ]:
df[df['Math score'].isnull()].index.tolist()

In [ ]:
df[df['Reading score'].isnull()].index.tolist()

In [ ]:
import numpy as np

In [ ]:
df.replace(to_replace = np.nan, value = 80)

In [ ]:
df2.isnull().sum()

## Deleting null values using dropna() method

In [ ]:
df3.isnull().sum()

In [ ]:
df3[df3['Math score'].isnull()].index.tolist()

In [ ]:
df3[df3['Reading score'].isnull()].index.tolist()

In [ ]:
#To drop rows with at Least 1 null value
df3.dropna()

In [ ]:
#To Drop columns with at Least 1 null value,
df4.dropna(axis = 1)

Handling **Outliers**

1.Detecting outliers using Boxplot:

In [ ]:
df.columns

In [ ]:
col=['Gender','Math score','Reading score','Writing score','Placement score','Placement offer count']

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
plt.figure(figsize=(10,7))
df.boxplot(col)

In [ ]:
for column in df:
  plt.figure()
  df.boxplot([column])

In [ ]:
import seaborn as sns

In [ ]:
 for column in df:
            plt.figure(figsize=(7,5))
            sns.boxplot(data=df, y=column)

In [ ]:
print(np.where(df["Math score"]>80))

In [ ]:
print(np.where(df["Reading score"]>90))

In [ ]:
print(np.where(df["Writing score"]<40))

**2 Detecting outliers using Scatterplot:**

In [ ]:
#ax = plt.subplots(figsize = (18,10))
plt.scatter(df['Math score'], df['Placement offer count'])
plt.show()

In [ ]:
df.columns

In [ ]:
plt.scatter(df['Placement score'],df['Placement offer count'],c='yellow',linewidths = 2,marker = '.',edgecolor ='red',s = 50)
plt.xlabel=("Placement score")
plt.ylabel=("Placement offer count ")
plt.show()

In [ ]:
plt.scatter(x=df['Math score'],y=df['Placement score'],c='blue',linewidths = 2,marker ='^',edgecolor = 'green',s = 80)
plt.show()

In [ ]:
plt.figure()
df.plot.scatter(x ='Placement score',y = 'Placement offer count',c ='Gender',)