### Part 1

### Download the required packages

In [74]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\coeco\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\coeco\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\coeco\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\coeco\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

### Intialize the text

In [75]:
text =  "Tokenization is the first step in text analytics. The process of breaking down a text paragraph into smaller chunks such as words or sentences is called Tokenization"

from nltk.tokenize import sent_tokenize
tokenized_text = sent_tokenize(text)
tokenized_text

['Tokenization is the first step in text analytics.',
 'The process of breaking down a text paragraph into smaller chunks such as words or sentences is called Tokenization']

### Perform Tokenization

In [76]:
from nltk.tokenize import word_tokenize
tokenized_word = word_tokenize(text)
tokenized_word

['Tokenization',
 'is',
 'the',
 'first',
 'step',
 'in',
 'text',
 'analytics',
 '.',
 'The',
 'process',
 'of',
 'breaking',
 'down',
 'a',
 'text',
 'paragraph',
 'into',
 'smaller',
 'chunks',
 'such',
 'as',
 'words',
 'or',
 'sentences',
 'is',
 'called',
 'Tokenization']

### Removing punctuations and Stop Word

In [77]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words("english"))

In [78]:
stop_words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [79]:
text = " How to remove stop words with NLTK library in python?"
import re
text = re.sub('[^a-zA-Z]', ' ',text)
text

' How to remove stop words with NLTK library in python '

In [80]:
tokens = word_tokenize(text.lower())
tokens

['how',
 'to',
 'remove',
 'stop',
 'words',
 'with',
 'nltk',
 'library',
 'in',
 'python']

In [81]:
filtered_text=[]
for w in tokens:
     if w not in stop_words:
            filtered_text.append(w)

In [82]:
filtered_text

['remove', 'stop', 'words', 'nltk', 'library', 'python']

### Perform Stemming

In [83]:
from nltk.stem import PorterStemmer
e_words = ["wait","waiting","waited"]
ps = PorterStemmer()
for w in e_words:
    rootWord = ps.stem(w)
    print(rootWord)

wait
wait
wait

In [84]:
from nltk.stem import PorterStemmer
e_words = ["studies","studying", "cries","cry"]
ps = PorterStemmer()
for w in e_words:
    rootWord = ps.stem(w)
    print(rootWord)

studi
studi
cri
cri

### Perform Lemmatization

In [85]:
import nltk
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()
text = "studies studying cries cry"
tokenization = nltk.word_tokenize(text)
for w in tokenization:
    print("Lemma for {} is {}".format(w,wordnet_lemmatizer.lemmatize(w)))

Lemma for studies is study
Lemma for studying is studying
Lemma for cries is cry
Lemma for cry is cry

### Apply POS Tagging to text

In [86]:
import nltk
from nltk.tokenize import word_tokenize
data = "The pink sweater fits her perfectly"
words = word_tokenize(data)
for word in words:
    print(nltk.pos_tag([word]))

[('The', 'DT')]
[('pink', 'NN')]
[('sweater', 'NN')]
[('fits', 'NNS')]
[('her', 'PRP$')]
[('perfectly', 'RB')]

### Part 2

### Import the necessary libraries

In [87]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

### Intialize the Document

In [88]:
documentA = 'Jupiter is the largest Planet'
documentB = 'Mars is the fourth planet from the sun'

### Create BagofWords(BoW) for document A & B

In [89]:
bagofWordsA = documentA.split(' ')
bagofWordsB = documentB.split(' ')

### Create collection of Unique words from Document A & B

In [90]:
uniqueWords = set(bagofWordsA).union(bagofWordsB)

In [91]:
uniqueWords

{'Jupiter',
 'Mars',
 'Planet',
 'fourth',
 'from',
 'is',
 'largest',
 'planet',
 'sun',
 'the'}

### Create a dictionary of words and their occurrence for each document in the corpus

In [92]:
numofWordsA = dict.fromkeys(uniqueWords,0)
for word in bagofWordsA:
     numofWordsA[word] += 1

In [93]:
numofWordsA

{'from': 0,
 'Planet': 1,
 'Mars': 0,
 'fourth': 0,
 'planet': 0,
 'the': 1,
 'is': 1,
 'Jupiter': 1,
 'sun': 0,
 'largest': 1}

In [94]:
numofWordsB = dict.fromkeys(uniqueWords,0)
for word in bagofWordsB:
     numofWordsB[word] += 1

In [95]:
 numofWordsB

{'from': 1,
 'Planet': 0,
 'Mars': 1,
 'fourth': 1,
 'planet': 1,
 'the': 2,
 'is': 1,
 'Jupiter': 0,
 'sun': 1,
 'largest': 0}

### Compute the term frequency for each of our documents

In [96]:
def computeTF(wordDict,bagofWords):
    TfDict = {}
    bagofWordsCount = len(bagofWords)
    for word, count in wordDict.items():
        TfDict[word] = count/float(bagofWordsCount)
    return TfDict

In [97]:
tfA = computeTF(numofWordsA,bagofWordsA)
tfB = computeTF(numofWordsA,bagofWordsB)

In [98]:
tfA

{'from': 0.0,
 'Planet': 0.2,
 'Mars': 0.0,
 'fourth': 0.0,
 'planet': 0.0,
 'the': 0.2,
 'is': 0.2,
 'Jupiter': 0.2,
 'sun': 0.0,
 'largest': 0.2}

In [99]:
tfB

{'from': 0.0,
 'Planet': 0.125,
 'Mars': 0.0,
 'fourth': 0.0,
 'planet': 0.0,
 'the': 0.125,
 'is': 0.125,
 'Jupiter': 0.125,
 'sun': 0.0,
 'largest': 0.125}

### Compute the term Inverse Document Frequency

In [100]:
def computeIDF(documents):
    import math
    N = len(documents)
    idfDict=dict.fromkeys(documents[0].keys(),0)
    for document in documents:
        for word , val in document.items():
            if val > 0:
                idfDict[word]  += 1
    for word,val in idfDict.items():
            idfDict[word] = math.log(N/float(val))
    return idfDict

In [101]:
idfs = computeIDF([numofWordsA,numofWordsB])
idfs

{'from': 0.6931471805599453,
 'Planet': 0.6931471805599453,
 'Mars': 0.6931471805599453,
 'fourth': 0.6931471805599453,
 'planet': 0.6931471805599453,
 'the': 0.0,
 'is': 0.0,
 'Jupiter': 0.6931471805599453,
 'sun': 0.6931471805599453,
 'largest': 0.6931471805599453}

### Compute the term TF/IDF for all words

In [102]:
def computeTFIDF(tfBagofWords,idfs):
    tfidf ={}
    for word,val in tfBagofWords.items():
        tfidf[word] =val*idfs[word]
    return tfidf

In [103]:
tfDifA = computeTFIDF(tfA,idfs)

In [104]:
tfDifB = computeTFIDF(tfA,idfs)

In [105]:
tfDifA

{'from': 0.0,
 'Planet': 0.13862943611198905,
 'Mars': 0.0,
 'fourth': 0.0,
 'planet': 0.0,
 'the': 0.0,
 'is': 0.0,
 'Jupiter': 0.13862943611198905,
 'sun': 0.0,
 'largest': 0.13862943611198905}

In [106]:
tfDifB

{'from': 0.0,
 'Planet': 0.13862943611198905,
 'Mars': 0.0,
 'fourth': 0.0,
 'planet': 0.0,
 'the': 0.0,
 'is': 0.0,
 'Jupiter': 0.13862943611198905,
 'sun': 0.0,
 'largest': 0.13862943611198905}

In [107]:
df = pd.DataFrame([tfDifA,tfDifB])

In [108]:
df

   from    Planet  Mars  fourth  planet  the   is   Jupiter  sun   largest
0   0.0  0.138629   0.0     0.0     0.0  0.0  0.0  0.138629  0.0  0.138629
1   0.0  0.138629   0.0     0.0     0.0  0.0  0.0  0.138629  0.0  0.138629